.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "Diablo Numbers", root_path, :class => "brand"

      %ul.nav
        %li= link_to "Definitions", definitions_path
        %li= link_to "References", references_path
