.span3
  %h3 Armor

  %table.table.table-striped.table-condensed
    %tbody
      %tr
        %td
          1 
          %span.label.label-important strength
        %td.output_cell
          %i.icon-arrow-up
          1          
          %span.label.label-inverse armor  
      %tr
        %td
          1 
          %span.label all resist
        %td.output_cell
          %i.icon-arrow-up
          10          
          %span.label.label-inverse armor  