.span4
  %h2 
    Experience
    %small per monster killed  
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th{:style => "width:190px"}
          Monster level (mLvl) compared to character level            
        %th XP gain
    %tbody        
      - @experience.each_pair do |name, values|
        %tr
          %td= name
          %td.output_cell
            %span #{values[:percent]}% 
            - unless values[:per_kill]
              %span.label no +XP/kill from gear
