.row
  .span12
    %h2 
      Group Mechanics
      %small more is better
    .clearfix
.row
  - @group_mechanics.each_pair do |name, values|
    .span3
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th 
              %h3= name
            %th Health
            %th Damage

        %tbody
          - values.each_with_index do |numbers, index|
            %tr
              %td
                - (index + 1).times do
                  %i.icon-user
              %td #{numbers[:health]} %
              %td #{numbers[:damage]} %