.span3
  %h2 
    Inferno Monster Levels
    %small 
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Act
        %th Monster Level (mLvl)
    %tbody
      %tr
        %td I
        %td 61
      %tr
        %td II
        %td 62
      %tr
        %td III
        %td 63
      %tr
        %td IV
        %td 63