.span3
  %h3 Resists

  %table.table.table-striped.table-condensed
    %tbody
      %tr
        %td
          1 
          %span.label.label-info intelligence
        %td.output_cell
          %i.icon-arrow-up
          = ".1"
          %span.label.label-inverse resist  