.row
  .span12
    .page-header
      %h1 Demon Hunter

/ .row
/   .span12
/     %h2 Things People Agree On
.row
  .span4
    %h3 Good Combinations
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th Skill
          %th Rune
      %tbody
        %tr
          %td Hungering Arrow
          %td
        %tr
          %td Elemental Arrow (ER)
          %td Nether Tenacles (NT)
        %tr
          %td Smoking Screen
          %td Lingering Fog
        %tr
          %td Evasive Fire (EF)
          %td Convering Fire (CF)

.row
  .span12
    %h2 Nvd's Inferno DH Tips
    .alert.alert-info
      Information came from post by Nvd on Diablo forums. You can read the original post
      = link_to "here", "http://us.battle.net/d3/en/forum/topic/5590639216"
      = "."

.row
  .span4
    %table.table
      %thead
        %tr
          %th Stat
          %th Value
      %tbody     
        %tr
          %td
            %strong Health
          %td 11k
        %tr
          %td
            %strong DPS
          %td 59k
        %tr
          %td
            %strong DPS + Sharpshooter
          %td 110k  
  .span6
    %blockquote
      %p My HP is so low because regardless of whether or not i have 50k or 1k hp, I get 1 shot in act 3/4 anyhow, so it really doesn't matter. Stack dex, don't get hit, EVER.
      %small Nvd 

.row
  .span6
    %table.table
      %thead
        %tr
          %th Builds
      %tbody
        %tr
          %td Boss Build
          %td= link_to "http://us.battle.net/d3/en/calculator/demon-hunter#aRXVTj!aeY!ZcZcZY", "http://us.battle.net/d3/en/calculator/demon-hunter#aRXVTj!aeY!ZcZcZY"
        %tr
          %td Act Build
          %td= link_to "http://us.battle.net/d3/en/calculator/demon-hunter#bRXVld!aYe!bbZcbY", "http://us.battle.net/d3/en/calculator/demon-hunter#bRXVld!aYe!bbZcbY"

.row
  .span12
    %h2 Surviving Hits
.row
  .span6
    %blockquote
      %p The reason you can't do Diablo without extreme gear is that you go for the pure DPS buiild. Swap for a tankier build for that encounter, making you able to survive a hit from the least avoidable attacks and you'll manage. 
      %br
      %p I know it seems futile to get enough resistances to live through an attack, but get both HP and resistances, and you'll be surprised.
      %small Iamawalrus