.fluid-row
  .span12
    %h1 
      References
      %small or where the hell we got our numbers...

    %table.table
      %tr
        %td= link_to "http://mmo-mechanics.com/swtor/forums/Thread-Diablo-3-formula-list"