.row
  .span12
    .page-header
      %h1 
        References
        %small or where the hell we got our numbers...

.row
  .span6
    %table.table
      %thead
        %tr
          %th
            %h3 General
      %tbody    
        %tr
          %td= link_to "http://mmo-mechanics.com/swtor/forums/Thread-Diablo-3-formula-list"
        %tr
          %td= link_to "http://us.battle.net/d3/en/forum/topic/5149150485"
        %tr
          %td= link_to "http://www.youtube.com/watch?v=K9uVdmdzfb0&feature=youtu.be"

.row
  .span6
    %table.table
      %thead
        %tr
          %th
            %h3 Demon Hunter
      %tbody
        %tr
          %td= link_to "http://us.battle.net/d3/en/forum/topic/5590639216"